%div.absolute.bottom-0.w-full.bg-blue-400.flex.items-center.py-5
  -# %div
  -#   = material_icon.shape(:skip_previous).md_48.style('color: white')
  -#   = material_icon.shape(:play_circle).md_48.style('color: white')
  -#   = material_icon.shape(:pause_circle).md_48.style('color: white')
  -#   = material_icon.shape(:skip_next).md_48.style('color: white')
  %audio{controls: "controls", id: "audio-player"}

